@import "tailwindcss";

@theme {
  --font-heading: "Marcellus SC", serif;
  --font-body: "Ubuntu", sans-serif;
}

@layer components {
  .heading-font {
    font-family: var(--font-heading);
  }

  .body-font {
    font-family: var(--font-body);
  }
  .auth-inputbox{
    @apply bg-blue-50 border border-gray-200 w-full rounded-3xl p-1.5 my-2
  }
    .ourMission-li{
    @apply text-white  border border-blue-900 bg-[#00122E] p-2 rounded my-3 
  }
      .pagination-btn{
    @apply py-1 bg-gray-50 border border-gray-300 px-3 rounded-2xl cursor-pointer  text-center flex items-center gap-2
  }
}